---
interface Props {
	title: string;
	href: string;
	excerpt?: string | null;
	image?: {
		src?: string;
		alt?: string;
	} | null;
}

const { title, href, excerpt, image } = Astro.props;
---

<article class="card h-100 shadow-sm">
	{
		image?.src && (
			<a href={href} class="card-img-link">
				<img class="card-img-top" src={image.src} alt={image.alt || title} />
			</a>
		)
	}
	<div class="card-body d-flex flex-column">
		<h3 class="card-title h5">
			<a href={href} class="stretched-link text-decoration-none">{title}</a>
		</h3>
		{excerpt && <p class="card-text text-body-secondary">{excerpt}</p>}
	</div>
</article>
